<mat-drawer-container class="example-container" >
   
      <mat-drawer-content   class="sidebar" mode="side" >
        
            <mat-list>
                <mat-list-item class="actionLink" [routerLink]="['./products']" >
                  products
                </mat-list-item>
                <mat-divider></mat-divider>
                
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> </mat-list-item>

              </mat-list>
              <mat-drawer-content>
             
            </mat-drawer-content>
      </mat-drawer-content>
  </mat-drawer-container>
  