<body>
  <mat-card *ngIf="viewDetiles"  class="example-card">
      <mat-card-header>
            <mat-card-title>{{ viewDetiles.category}}</mat-card-title>
            <mat-card-subtitle>Displaying: {{ viewDetiles.id }}</mat-card-subtitle>
      </mat-card-header>
      <img src="{{ viewDetiles.image }}" >
       <mat-card-content>
          <p class="title">{{viewDetiles.title}}</p>
          <h2>Price: ${{viewDetiles.price}}</h2>
          <p>{{ viewDetiles.description }}</p>
      </mat-card-content>
      <mat-card-footer>
        Rating: {{viewDetiles.rating.rate}}
      </mat-card-footer>
  </mat-card>
</body> 
