
body{
    margin-left: -184px;
    width: 100%;
    height: 520px;
    padding-top: -10%!important;
}
mat-card {
 width: 100%;
  height:550px;
  img{
    width: 200px;
    height:270px;
    margin-left:40px;
  }
  .title , h2 ,p {
    padding-left:10px;
  }
  mat-card-footer{
     padding-left:20px;
  }
  
  
  }



